{:hooks {:macroexpand {compojure.api.sweet/PATCH compojure.api.core/PATCH, compojure.api.sweet/ANY compojure.api.core/ANY, compojure.api.sweet/context compojure.api.core/context, compojure.api.core/POST compojure.api.core/POST, compojure.api.core/GET compojure.api.core/GET, compojure.api.sweet/DELETE compojure.api.core/DELETE, compojure.api.core/ANY compojure.api.core/ANY, compojure.api.sweet/POST compojure.api.core/POST, compojure.api.sweet/GET compojure.api.core/GET, compojure.api.sweet/HEAD compojure.api.core/HEAD, compojure.api.core/PUT compojure.api.core/PUT, compojure.api.core/DELETE compojure.api.core/DELETE, compojure.api.sweet/OPTIONS compojure.api.core/OPTIONS, compojure.api.sweet/PUT compojure.api.core/PUT, compojure.api.core/context compojure.api.core/context, compojure.api.core/HEAD compojure.api.core/HEAD, compojure.api.core/PATCH compojure.api.core/PATCH, compojure.api.core/OPTIONS compojure.api.core/OPTIONS}}}